{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        <section class="vh-100" style="background-color: #9A616D;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-lg-5 text-black">
                                        <form method="post">
                                            <div class="d-flex align-items-center text-center pb-1">
                                                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                <span class="h1 fw-bold mb-0">{{app_name}}</span>
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Inscription</h5>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input-init class="form-outline">
                                                        {{ form_row(registrationForm.firstName, { 'attr': {'class': 'form-control form-control-lg'} }) }}
                                                    </div>
                                                </div>
            
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input-init class="form-outline">
                                                        {{ form_row(registrationForm.lastName, { 'attr': {'class': 'form-control form-control-lg'} }) }}
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="row">
                                                <div class="col-md-12 mb-4 pb-2">
                                                    <div data-mdb-input-init class="form-outline">
                                                        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control form-control-lg'} }) }}
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="row">
                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div data-mdb-input-init class="form-outline">
                                                        {{ form_row(registrationForm.password.first, { 'attr': {'class': 'form-control form-control-lg'} }) }}
                                                    </div>
                                                </div>
            
                                                <div class="col-md-6 mb-4 pb-2">
                                                    {{ form_row(registrationForm.password.second, { 'attr': {'class': 'form-control form-control-lg'} }) }}
                                                </div>
                                            </div>

                                            <div class="pt-2 text-center">
                                                {{ form_row(registrationForm.register, { 'attr': {'class': 'btn btn-primary btn-lg'} }) }}
                                            </div>

                                            <p class="mb-5 pb-lg-2 mt-2" style="color: #393f81;">Vous avez déjà un compte ? <a href="{{ path('login') }}" style="color: #393f81;">Créer un compte</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ form_end(registrationForm) }}
{% endblock %}
